@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar (optional) */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #2e73ff;
  border-radius: 3px;
}
